<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesignBrew Sign-UP</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="logo-Navbar">
        <img class="logoImage" src="https://i.postimg.cc/8Czg7gpx/Design-BRew-1.png" alt="logo">
        <div class="header">
        <%- include('../partials/_navbar.ejs') %>
        </div>
        </div>
        <div class="signUpform">
            <form action="/auth/sign-up" method="POST">
            <label for="username">Username:</label>
            <input type="text" placeholder="Enter Username" id="username" required />
            <br/>
            <label for="email">Email</label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <br/>
            <label for="password">Password:</label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required />
            <br/>
            <label for="confirmPassword">Confirm Password:</label>
            <input 
              type="password"
              placeholder="Confirm Password"
              name="confirmPassword"
              id="confirmPassword"
              required 
            />
            <br/>
            <label for="profilepicture">Profile Picture</label>
            <input type="file" name="profilepicture" id="profilepicture">
            <br/>
            <button type="submit">Sign up</button>
          </form>
          <img id="frenchImage" src="https://i.postimg.cc/zXd71dHN/artdeco-french.webp " alt="frenchartdeco">
          </div>
</body>
</html>