<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESIGNBREW</title>
</head>
<body>
    <img scr="" alt="">
    <h1>Brewing up bold inspirations for your home!</h1>
    <button>Lest Start Brewing</button>
    <p>Welcome to DESIGNBREW, your ultimate hub for collecting and organizing home design ideas. 
        Join our vibrant community, where you can share your inspirations, like each others posts,
         and connect with fellow design enthusiasts. Together, lets celebrate creativity and turn our visions into beautiful realities!</p>
    
</body>
</html>