<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community - Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="logo-Navbar">
        <img class="logoImage" src="https://i.postimg.cc/8Czg7gpx/Design-BRew-1.png" alt="logo">
        <div class="header">
        <%- include('../partials/_navbar.ejs') %>
        </div>
        </div>
  
    <h1>Explore Our Community</h1>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <a href="/allusers/<%= user._id %>"><%= user.username %></a>
            </li>
        <% }) %>
    </ul>
</body>