<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community - Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="logo-Navbar">
        <img class="logoImage" src="https://i.postimg.cc/8Czg7gpx/Design-BRew-1.png" alt="logo">
        <div class="header">
        <%- include('../partials/_navbar.ejs') %>
        </div>
        </div>
        
        <h1>THE DESIGNBREW COMMUNITY</h1>
<div class="allusers">   
    <ul>
        <% users.forEach(user => { %>
            <li>
                <div><img class="profilepicture" src="https://i.postimg.cc/NGXLYP0C/WELCOME-TO-DESIGNBREW-1.png" alt="temp profile pic" style="max-width: 700px;"></div>
                <div><a href="/allusers/<%= user._id %>"><%= user.username %></a></div>
            </li>
        <% }) %>
    </ul>
</div>
</body>